<div class="container pad-top">
  <a ui-sref="newAlumno" class="btn-primary btn-lg nodecoration">Nuevo Estudiante</a>
  <table class="table alumnotable">
      <tr>
          <td><h3>Estudiantes</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="alumno in alumnos">
          <td>{{alumno.nombre}}</td>
          <td>{{alumno.apellidoPaterno}}</td>
          <td>{{alumno.apellidoMaterno}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewAlumno({id:alumno.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteAlumno(alumno)">Delete</a>
          </td>
      </tr>
  </table>
</div>
